/* Styles globaux pour le projet */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
}

h1, h2 {
    color: #2a9d8f; /* Couleur verte */
}

h2 {
    font-size: 1.5rem;
}

button {
    background-color: #2a9d8f;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #21867a;
}

.quiz button {
    background-color: #ff8c42;
    border: none;
    margin: 5px;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .quiz button:hover {
    background-color: #f3d6c4;
  }
  
  .anecdote {
    font-style: italic;
    border-left: 5px solid #ff8c42;
    padding-left: 10px;
  }
  
  .page-contenu {
    margin: 30px;
    border: 2px 
  }
  
  .ville-navigation {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    gap: 10px;
  }
  
  .ville-navigation button {
    background-color: #ffd966;
    border: none;
    padding: 10px 16px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .ville-navigation button:hover {
    background-color: #ffca3a;
  }
  