/* Styles pour l'indicateur de survol */
.hover-indicator {
    position: absolute;
    width: 140px; /* 2 * rayon = 2 * 70 */
    height: 140px;
    border-radius: 50%;
    border: 4px solid #f4a261;
    box-shadow: 0 0 15px #f4a261;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s ease, transform 0.2s ease;
    z-index: 100;
  }
  

.mindmap-container {
    position: relative;
}