/* Dans styles/theme-colors.css */
:root {
    --primary-color: #2a9d8f;
    --secondary-color: #e9c46a;
    --accent-color: #e76f51;
    --background-color: #f1faee;
    --text-color: #1d3557;
  }
  
  [data-theme="ocean"] {
    --primary-color: #184e77;
    --secondary-color: #1a759f;
    --accent-color: #76c893;
    --background-color: #d9ed92;
    --text-color: #184e77;
  }
  
  [data-theme="desert"] {
    --primary-color: #bc6c25;
    --secondary-color: #dda15e;
    --accent-color: #606c38;
    --background-color: #fefae0;
    --text-color: #283618;
  }
  
  /* Ajoutez d'autres thèmes */