.number-line-container {
    text-align: center;
    margin: 20px auto;
}

.number-line {
    position: relative;
    width: 80%;
    height: 50px;
    background: lightgray;
    border: 2px solid black;
    margin: 20px auto;
}

.marker {
    position: absolute;
    bottom: -10px;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    display: none;
    transform: translateX(-50%);
}

.tick {
    position: absolute;
    bottom: -20px;
    width: 2px;
    height: 10px;
    background-color: black;
}

.tick-label {
    position: absolute;
    bottom: -35px;
    font-size: 14px;
    transform: translateX(-50%);
}

.feedback {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}
