.content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
    margin: 20px auto;
    text-align: center;
}

h1 {
    color: #2a9d8f;
    text-align: center;
}

h2 {
    color: #e76f51;
}

.learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #2a9d8f;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.learn-more:hover {
    background-color: #21867a;
}

iframe {
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #f4a261;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.back-button:hover {
    background-color: #e76f51;
}
